*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D0E0F3;
}
h1{
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    padding: 52px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #BDD2EC;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
input{
    height: 40px;
    width: 60%;
    margin: 24px 0;
    padding: 4px 12px;
    background-color: #DFECF9;
    outline: 1px solid #212121;
    border: none;
}
#inputtext{
    color: #212121;
    border: 1px solid #212121;
}
input:focus{
    outline: 1px solid #4195FB;
}
input::placeholder{
    color: #BDD2EC;
}
#texts{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#texts div{
    width: 48%;
}
h3{
    border-bottom: 2px solid #BDD2EC;
    width: 100%;
    padding: 4px 0 ;
    font-size: 16px;
    margin-bottom: 8px;
}
li{
    list-style-type: none;
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    border-bottom: 2px solid #BDD2EC;
    align-items: center;
}
button{
    border: none;
    background-color: #BDD2EC;
    color: #212121;
    padding: 2px 4px;
    border-radius: 4px;
}
